/ComposX/ComposX/*
/ComposSlave1/ComposSlave1/ComposSlave1/std
/ComposSlave1/ComposSlave1/ComposSlave1/obj
/ComposSlave1/ComposSlave1/ComposSlave1/output
project.dep.bak
project.mk
linkfile
memory.inc
mkdep
opts.txt
project.dep
/ComposSlave1/ComposSlave1/ComposSlave1/BuildMsg.txt
/ComposX/*.ARF
/ComposX/*.BKW
/ComposX/*.LIN
/ComposX/*.SYM
/ComposX/*.BKS
/ComposX/*.config
/ComposX/*.files
/ComposX/*.creator
*.config
*.creator
*.files
*.includes
