*.lock
*.log
*.xml
*.pdom

*.sc
*.index
*.snap
*.markers
*.tree
*.version
*.resources
*.prefs
*.xmi
*.ini
*.a
*.mk
*.d
*.o
*.axf
*.map
*.ld
*.exe
/VeuUnitTest/Release/makefile
*.stackdump
