*.launch
/Portable_Bootloader/.settings/language.settings.xml
*.prefs
*.axf
*.o
*.mk
*.d
*.xml
*.a
*.lock
*.log
*.pdom
*.sc
makefile
*.dis
*.map
*.jtag
Portable_Bootloader_Debug.ld
Portable_Bootloader_Debug_library.ld
Portable_Bootloader_Debug_memory.ld
crt_common.xme
crt_infolist.dtd
crt_peripheral_defs.dtd
nxp_lpc43xx_peripheral.xme
Portable_Bootloader_Release.ld
Portable_Bootloader_Release_library.ld
Portable_Bootloader_Release_memory.ld
Portable_M0_Debug.ld
Portable_M0_Debug_library.ld
Portable_M0_Debug_memory.ld
Portable_M0_Release.ld
Portable_M0_Release_library.ld
Portable_M0_Release_memory.ld
nxp_lpc43xx_m0_peripheral.xme
Portable_M4_Debug.ld
Portable_M4_Debug_library.ld
Portable_M4_Debug_memory.ld
Portable_M4_Release.ld
Portable_M4_Release_library.ld
Portable_M4_Release_memory.ld
Portable_M4_UnitTest.exe

.metadata
